* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 60px;
    width: 100%;
    background-color: white;
    position: relative;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-header > .nav-title img{
      width: 200px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color:gainsboro;
    color: #0091ff;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  